@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Car Application</h1>
</div><!--The home page view for the application. This view just displays the general information of the web application.-->
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Car Application</h2>
        <p>
            The Car Application is a simple application that
            allows for the user to be able to input cars and
            their characteristics and to also be able to edit
            and delete them.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>